 body {
     font-family: Arial, sans-serif;
     background: #800020;
     margin: 0;
     padding: 0;
 }

 .container {
     max-width: 700px;
     margin: 40px auto;
     background: white;
     padding: 30px;
     border-radius: 12px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
 }

 h1 {
     text-align: center;
     color: #333;
 }

 .question {
     margin-bottom: 20px;
 }

 .options label {
     display: block;
     margin: 6px 0;
     padding: 6px;
     border-radius: 8px;
     cursor: pointer;
 }

 .options label:hover {
     background: #eef3ff;
 }

 button {
     background: #007bff;
     color: white;
     border: none;
     padding: 10px 15px;
     border-radius: 6px;
     cursor: pointer;
 }

 button:hover {
     background: #0056b3;
 }

 .result {
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     margin-top: 20px;
 }

 #timer {
     text-align: center;
     font-size: 18px;
     margin-bottom: 15px;
     color: #d9534f;
     font-weight: bold;
 }

 .correct {
     background: #d4edda;
 }

 .wrong {
     background: #f8d7da;
 }

 #loginPage {
     max-width: 400px;
     margin: 100px auto;
     background: white;
     padding: 30px;
     border-radius: 12px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
     text-align: center;
 }

 #loginPage input {
     width: 80%;
     padding: 10px;
     margin: 10px 0;
     border-radius: 6px;
     border: 1px solid #ccc;
 }

 .footer{
    color: #ccc;
    text-align: center;
 }